h1{
	text-align: center;
}

.tasks{
	background-color: #fff;
	width: 500px;	
	border-collapse: collapse;
	margin: auto;
	font: 17px Verdana;
}

.tasks thead th{
	font-weight: normal;
	padding: 0 0 8px;	
	text-align: left;
	color: #FFF; 		
}

.tasks thead th span{
	padding: 10px;
	background-color: #4A778D;
	display: block;
}

.tasks tbody tr:hover:not(.add){
	background-color: #F5F5F5;
}

.tasks tbody td{
	font-size: 14px;
	border: 2px solid #DDE4E8;
	padding: 5px;
	color: #7E8082;
	cursor: default;
}


.tasks tbody td b{
	color: #000;
	display: block;
	text-align: center;		
}

.tasks tbody td:first-child,
.tasks tbody td:last-child{
	text-align: center;
}

.tasks .num{
	display: inline-block;
    border-radius: 10px;
    background-color: #D0DBE0;
    padding: 1px 6px 3px;
    color: #7E8082;
    margin: auto;
}

.tasks .delete{
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAABlAAAAZQGq1hevAAAAIGNIUk0AAHolAACAgwAA+f8AAIDoAABSCAABFVgAADqXAAAXb9daH5AAAAC4SURBVHjaxNMxagJREMbx38pmLxHZKqexSJPEQ9gEK/EGaRaTIngHk8obWHgRwVsEns0Ujwj7FrdwYHjw/3gfM/PeVCklY2JiZFSzVffZo//g2GdQ471Hf0FXMuiLKTa3zOADC6TIRbBBFfxi/Y9t43zCa8ngOXKfXcx5sYUGO7QZa4M1QwwSljhl7BQsDTHYZaXnZW9DKw5xjgPO8ZHgDY+hFQ0qfOMPD9nL1KFdGXyN2oW7b+NlACRzI6npe8o+AAAAAElFTkSuQmCC') no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;	
}

.tasks tr:last-child td{
	background-color: #4A778D;
	border-color: #4A778D;
}

.tasks .addTask{
	display: inline-block;
	padding: 5px;
	cursor: pointer;		
	border-radius: 5px;
	border: 1px solid #D0DBE0;
	color: #FFF;
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.tasks .addTask:hover{
	box-shadow: 0px 1px 8px 1px rgba(50, 50, 50, 0.65);
	border: none;
	padding: 6px;
}


.cd-popup {
	position: fixed;
    left: 0;
    top: 0;
    height: 0%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;  
  	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, height 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, height 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, height 0s 0.3s;
}

.cd-popup.active{
	height: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup .window{	
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-popup.active .window {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-popup .window p{
	padding: 3em 1em;
}

.cd-popup .window .title{
	padding: 20px;
    font: 12px Verdana;
    text-transform: uppercase;
    color: #8f9cb5;
}

.cd-popup .window .close{
    position: absolute;
    top: 8px;
    right: 8px;
	width: 15px;
	height: 15px;
    cursor: pointer;
}

.cd-popup .window .close:before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 1px;
}

.cd-popup .window .close:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 0px;
}

.cd-popup .window .close:before,
.cd-popup .window .close:after{
    content: '';
    position: absolute;
    top: 7px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}

.cd-popup .window .button{
	overflow: hidden;
}

.cd-popup .window .button > *{
	border: none;
	float:left;
	width: 50%;
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cd-popup .window .button > *:first-child{
    background: #fc7169;
    border-radius: 0 0 0 .25em;
}

.cd-popup .window .button > *:first-child:hover {
    background-color: #fc8982;
}

.cd-popup .window .button > *:last-child{
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}

.cd-popup .window .button > *:last-child:hover {
    background-color: #c5ccd8;
}

.cd-popup .window .button > *.green{
	background-color: #12D270;
}

.cd-popup .window .button > *.green:hover{
	background-color: #18EA7F;
}

.cd-popup .window select,
.cd-popup .window textarea{
    display: block;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
}

.cd-popup .window .button > *.gray,
.cd-popup .window .button > *.gray:hover{
	background-color: #7B7B7B;	
	cursor: default;
}